{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1 class="shadow p-3 mb-3 bg-white rounded text-center">
    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
  </h1>
{% endblock page_header %}

{% block content %}

  <h3 class="mb-3 mt-3">Edit your entry</h3>

  <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Save Changes</button>
    {% endbuttons %}
  </form>

{% endblock content %}