{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1 class="shadow p-3 mb-3 bg-white rounded text-center">{{ topic }}</h1>
{% endblock page_header %}

{% block content %}

  <h2 class="mb-4">Entries:</h2>

  {% for entry in entries %}
    <div class="card mb-3">
      <h5 class="card-header bg-info">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}"
                  class="text-warning">
          Edit entry
        </a></small>
      </h5>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <ul class="list-group">
      <li class="mb-3 list-group-item list-group-item-action">
        <h5>
          There are no entries for this topic yet.
        </h5>
      </li>

    </ul>
  {% endfor %}
  <p>
    <a class="btn btn-sm btn-success"
       href="{% url 'learning_logs:new_entry' topic.id %}"
       role="button">Add New Entry</a>
  </p>


{% endblock content %}